# project deps
**/node_modules
# configuration files
**/config.json
# env files
**/*.env

# prefix folders with old- if not used anymore/unsure if going to be added
services/old-*

services/2016-roblox
